nav.menu, main.content {
    height: calc(100vh - 5px);
    max-height: calc(100vh - 5px);
}

nav.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    border-right: 2px solid var(--border-color);
}

nav.menu .title {
    padding: 1rem;
    font-size: 20px;
    font-weight: light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

nav.menu .title p {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav.menu > ul {
    overflow-x: auto;
    list-style: none;
    white-space: break-spaces; /*temp*/
    scrollbar-width: none; /*firefox*/
}

main.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-x: auto;
    scrollbar-width: thin;
    position: relative;
}

@media screen and (max-width: 768px) {
    main.content {
        overflow-x: unset;
    }
}

main.content > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.msg {
    color: gray;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.menu li {
    padding: .5rem;
    line-height: 1.5;
}

ul.alternatingList li:nth-child(2n),
ul.alternatingList > :nth-child(2n) li {
    background-color: var(--list-2n);
}

nav.menu li p {
    display: flex;
    justify-content: space-between;
}

nav.menu li p:first-of-type {
    font-weight: bold;
}

/* nav.menu li p:last-of-type {
    font-weight: 200;
} */

.content ul.szavazas_eredmeny {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    grid-auto-flow: column;
}

ul.szavazas_eredmeny > li.Nem {
    grid-column: 2;
    color: red;
}

ul.szavazas_eredmeny > li.Igen {
    grid-column: 1;
    color: green;
}

ul.szavazas_eredmeny > li {
    grid-column: 3;
    color: lightgray;
}

ul.szavazas_eredmeny > li.Előre_bejelentett_hiányzó {
    font-style: italic;
    color: gray;
}

ul.szavazas_eredmeny > li.Tartózkodik {
    color: cyan;
}

.dynamicDefaultColor {
    color: #d3d3d3;
}

.tartozkodik {
    color: cyan;
}

@media (prefers-color-scheme: light) {
    .dynamicDefaultColor {
        color: black;
    }

    .tartozkodik {
        color: blue;
    }

     ul.szavazas_eredmeny > li {
        color: black;
    }
    
    ul.szavazas_eredmeny > li.Előre_bejelentett_hiányzó {
        color: gray;
    }
    
    ul.szavazas_eredmeny > li.Tartózkodik {
        color: blue;
    }
}

.iromany {
    color: #3366CC;
}