nav.menu {
    height: calc(100vh - 5px);
    max-height: calc(100vh - 5px);

    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    border-right: 2px solid var(--border-color);
}

nav.menu .title {
    padding: 1rem;
    font-size: 20px;
    font-weight: light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

nav.menu .title p {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav.menu .title button {
    display: none;
}

nav.menu ul {
    overflow-x: auto;
    list-style: none;
    white-space: break-spaces; /*temp*/
    scrollbar-width: none; /*firefox*/
    max-height: 100%;
}

.msg {
    color: gray;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.menu li {
    padding: .5rem;
    line-height: 1.5;
}

ul.alternatingList li:nth-child(2n),
ul.alternatingList > :nth-child(2n) li {
    background-color: var(--list-2n);
}

nav.menu li p {
    display: flex;
    justify-content: space-between;
}

nav.menu li p:first-of-type {
    font-weight: bold;
}

/* nav.menu li p:last-of-type {
    font-weight: 200;
} */


@media screen and (max-width: 768px) {
    nav.menu {
        height: auto;
    }

    nav.menu ul {
        max-height: 50dvh;
        overflow-y: auto;

        border-bottom: 1px solid var(--border-color);
    }

    nav.menu .title button {
        display: block;
    }
}